body{
  font-family: 'Outfit', sans-serif;
  /* background-color: #7b879d ; */
  background-color: #f2f6fd;
  margin: 0;
  text-align: center;
}
.main{
  width: 70vw;
  background-color:  #d6e2f0;
  /* margin: auto auto; */
  /* margin-top: 90px; */
  margin: 15vh 15vw;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0 10px 20px lightgrey;
}
.qr{
  background-color: white;
  width: 20vw;
  height: 60vh;
  border-radius: 10px;
  position: absolute;
  top: 20vh;
  left: 40vw;
  box-shadow: 0 15px 20px lightblue;
}
.img{
  width: 17vw;
  height: 33vh;
  margin: 0;
  margin-top: 15px;
  border-radius: 15px;
}
.txt{
  margin: 10px 0 20px 2.7vw;
  font-size: 15px;
  width: 15vw;
}
.tzt{
  margin: 10px 0 5px 1.8vw;
  font-size: 1.5vw;
  width: 17vw
}
.dot{
  position: absolute;
  top: 45vh;
  left: -5vw;
}
.wave{
  position: absolute;
  top: 30vh;
  right: -2vw;
}
.l{
  height: 80px;
  position: absolute;
  top: -2vh;
  left: 60vw;
}
.circle{
  height: 400px;
  width: 400px;
  position: absolute;
  bottom: -30vh;
  left: 40vw;
}
